<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>Welcome</title>
    <style type="text/css">
    	body {position: relative;}
		label {display: block; font-size: 20px;}
		label+label {margin-top: 20px;}
		.map {position: absolute; top: 50px; left: 180px;}
		.age {position: inherit; bottom: 0px; right: 0px; color: gray;}
</style>
  </head>

  <body>
    <h2>/Address/</h2>
    
	    <table>
	    	<tr>
	    		<td><label>Geo</label></td>
		    </tr>
		    <tr>
	    		<td>
	    			<input type="text" name="subject" value="{{subject}}"/>
	    			<br/>
	    			<br/><input type="submit" value="Submit" name="Submit">
			    </td>
		    </tr>
	    </table>

		{% if image_url %}
	    	<img class="map" alt="geo" src="{{image_url}}"/>
	    {% endif %}
  </body>
</html>
