<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blog Login Form</title>
	    <style type="text/css">
	      .label {text-align: right}
	      .error {color: red}
	    </style>		
	</head>
	<body>
		<h2>Login</h2>
		<form method="post">
			<table>
				<tr>
		          <td class="label">
		            Username
		          </td>
		          <td>
		            <input type="text" name="username" value="{{username}}">
		          </td>
				</tr>
				
				<tr>
		          <td class="label">
		            Password
		          </td>
		          <td>
		            <input type="password" name="password" value="{{Password}}">
		          </td>
				</tr>
				
				<tr>
		          <td class="error">
		            {{error_login}}
		          </td>
				</tr>
				
			</table>
			<input type="submit" value="Submit" name="submit">
			<input type="hidden" name="next_url" value="{{next_url}}">
		</form>
	
	</body>
</html>