{% extends "base-blog.html" %}
{% block title %}See this Blog{% endblock %}
{% block content %}
	<div class="post">
		<div class="post-heading">
			<a href="{{blogentry.get_id_link('/blog/')}}" class="post-title">{{blogentry.get_subject_text()}}</a>
			<div class="post-date">{{blogentry.get_created_date_text()}}</div>
		</div>
		<div class="post-content">{{blogentry.get_blog_text() | safe}}</div>
	</div>
	<br/><br/>
{% endblock %}
{% block age %}
<div class="age">{{age}}</div>
{% endblock %}